*
!/**/

# Do not ignore those files

!*.log
!*.sh
!*.md
!Makefile
!makefile
!.gitognore
!*.cpp
!*.hpp
!*.c
!*.h

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
